* {
   font-family: Verdana;
   font-size: 0.925em;
}

fieldset {
    margin: 1.5em;
    max-width: 1000px;
}

#results {
    overflow-y: scroll;
    margin: 1.5em;
    width: 95%;
    max-height: 500px;
    padding: 1em;
    font-family: Consolas, "Courier New", Courier, Verdana;
    border: 1px solid #999;
}

table {
    border-collapse: collapse;
    margin: .75em;
}

table, tr, td, thead, th {
    border: 1px solid #999;
}

tr:nth-child(even) {background: #eee;}

td, th { padding: .4em; }

.hidden { display: none; }
